/* ini css */
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-icon{
    height: 50px;
    width: 50px;
    background-image: url(https://img.freepik.com/free-vector/gradient-speed-motion-background_23-2149000632.jpg?w=826&t=st=1729270959~exp=1729271559~hmac=4ac0f71…);
    background-size: cover;
    background-position: left;
    border-radius: 50%;
}
nav {
    display: flex;
}
nav>a{
    border: 1px solid;
    padding: 8px;
    text-decoration: none;
    color: black;
}

.photo-banner {
    height: 250px;
    background-image: url(../image/PhotoBanner.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-article {
    height: 300px;
}

footer>div{
    text-align: center;
    font-family: math;
    font-weight: bold;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling the form elements */
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 6px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 96%;
  }
  
  textarea {
    resize: vertical;
  }
  
  /* Styling radio buttons */
  .gender-options {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .gender-options label {
    margin-right: 20px;
    font-weight: normal;
    margin-bottom: 0px;
  }
  
  /* Styling the submit button */
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Responsive design */
  @media (max-width: 600px) {
    .form-container {
      width: 90%;
    }
  
    input[type="text"],
    input[type="date"],
    textarea {
      font-size: 14px;
    }
  
    button {
      font-size: 14px;
    }
  }

.input-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}
  
/* Menentukan lebar text box */
.input-group {
    flex: 1;
}