/* ini css */
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-icon{
    height: 50px;
    width: 50px;
    background-image: url(https://img.freepik.com/free-vector/gradient-speed-motion-background_23-2149000632.jpg?w=826&t=st=1729270959~exp=1729271559~hmac=4ac0f71…);
    background-size: cover;
    background-position: left;
    border-radius: 50%;
}
nav {
    display: flex;
}
nav>a{
    border: 1px solid;
    padding: 8px;
    text-decoration: none;
    color: black;
}

.photo-banner {
    height: 250px;
    background-image: url(../image/PhotoBanner.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-article {
    height: 300px;
}

footer>div{
    text-align: center;
    font-family: math;
    font-weight: bold;
}